*{
    margin: 0%;
}
@media only screen and (max-width: px) {
    body{
        grid-template-areas: 
           "cab" 
           "sec"
           "pri"
           "rod";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;       
    }   
}
body{
    background-color:rgb(231, 231, 231) ;
    display: grid;
    gap: 15px;
    grid-template-areas: 
       "cab cab cab" 
       "sec pri pri"
       "rod rod rod";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    
}
header{

}
.bola{
    background-color: rgb(160, 184, 144);
    
}