*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 800px) {
    body{
        display: grid;
        grid-template-areas: 
            "cab"
            "sec"
            "pri"
            "rod";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }  
}
body{
    background-color: rgb(231, 231, 231);
    display: grid;
    gap: 15px;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
}
header{
    grid-area: cab;
    top: 0;
    position: relative;
    background-color:#cfe0cd; 
    text-align: center;
}
.toquedeprata{
    color: #a4bb8b; 
}
.carrinho{
    position: absolute;
    top: 6%;
    right: 2%;
    width: 35px;
}
.logo1{
    width: 100px;
}
.bolsa{
    position: absolute;
    width: 50px;
    top: 0%;
    right: 4%;
}
.pessoa{
    position: absolute;
    width: 80px;
    top: 0%;
    right: 6%;
}
.elementos li{
    display: inline;
}
.elementos a{
    text-decoration: none;
    font-size: x-large;
    color: #a4bb8b;
    margin: 20px;

}
aside{
    grid-area: sec;
    color: #98AB84;
    box-shadow: 2px 2px 2px rgba(183, 204, 165, 0.4); 
}
main{
    grid-area: pri;
    border-radius: 5px;
    background-color: rgb(234, 248, 208);
    display: flex;
    position: relative;
}
.compra{
    position: absolute;
    width: 100px;
    top: 60%;
    left: 50%;
}
.compra a{
    display: block;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    color: #020301;
}
.compra:hover{
    background-color: #e9e9e9;
    color: rgb(6, 7, 4);
}
.compra:hover a{
    background-color: rgb(0, 0, 0);
    color: #a4bb8b;
}
.nome{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 40%;
}
.preço{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 70%;
}
.parcela{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
}
.anel{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 300px;
}
footer{
    grid-area: rod;
    position: relative;
}
.carteira{
    position: absolute;
    width: 50px;
    top: 10%; 
    right: 50%;
}
.carteira1{
    position: absolute;
    top: 50%;
    right: 47%;
}
.troca{
    position: absolute;
    width: 50px;
    top: 10%; 
    right: 40%; 
}
.troca1{
    position: absolute;
    top: 50%;
    right: 38%;
}
.caminhão{
    position: absolute;
    width: 60px;
    top: 9%; 
    right: 30%;
}
.caminhão1{
    position: absolute;
    top: 50%;
    right: 29%;
}
.pagamento{
    position: absolute;
    top: 20%;
    left: 80%;
}
.pagamento1{
    position: absolute;
    width: 20px;
    top: 18%;
    right: 4%;
}
.visa{
    position: absolute;
    width: 30px;
    top: 40%;
    right: 17%;
}
.master{
    position: absolute;
    width: 50px;
    top: 40%;
    right: 13%;
}
.elo{
    position: absolute;
    width: 40px;
    top: 35%;
    right: 10%; 
}
.pix{
    position: absolute;
    width: 20px;
    top: 45%;
    right: 8%;
}
.boleto{
    position: absolute;
    width: 30px;
    top: 40%;
    right: 5%;
}
aside, main, footer{
    background-color:#ffff;
}