*{
    margin: 0%;
}
@media only screen and (max-width: px) {
    body{
        grid-template-areas: 
           "cab" 
           "sec"
           "pri"
           "rod";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;       
    }   
}
body{
    background-color:rgb(231, 231, 231) ;
    display: grid;
    gap: 15px;
    grid-template-areas: 
       "cab cab cab" 
       "sec pri pri"
       "rod rod rod";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    
}
.elemento_principal{

    display: flex;
    justify-content: center;
    width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 3px 6px 9px rgb(207, 228, 214);
    transition: 0.5s;
}
.texto a{
    display: block;
    padding: 10px 20px;
    background-color: #a2c59f; 
    color: rgb(128, 148, 122);
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
} 
.card:hover{
    background-color: #e9e9e9;
    color: rgb(48, 61, 35);
}
.card:hover a{
    background-color: rgb(152, 179, 137);
    color: rgb(18, 26, 16);
} 
.texto a:hover{
    background-color:#6e8b4c; 
}
header{
    grid-area: cab;   
    position: relative;
    background-color:#b1c59a; 
    text-align: center;
}
.toquedeprata{
    color: #748b59; 
}
.carrinho{
    position: absolute;
    top: 6%;
    right: 8%;
    width: 35px;
}
.logo1{
    width: 100px;
}
.bolsa{
    position: absolute;
    width: 50px;
    top: 0%;
    right: 10%;
}
.pessoa{
    position: absolute;
    width: 80px;
    top: 0%;
    right: 12%;
}
aside{
    grid-area: sec;
}
main{
    grid-area: pri;
    border-radius: 5px;
    background-color: rgb(234, 248, 208);
    display: flex;
    align-items: center;
}
.anel{
    width:300px; 
}
.alianças{
    width: 200px;
}

.card img{
    width: auto;
    height: 200px;
}
.filho{
    background-color: #fff;
    width: 400px; 
    border-radius: 5px;
}

.filho div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer{
    position: relative;
    grid-area: rod;
}
.logo2{
    position: absolute;
    width: 130px;
    right: 6%;
    top: 0%}
aside, main, footer{
    background-color:#ffff;
}
